<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/butacas.css" />
    <link rel="shortcut icon" href="/images/logoTFG.webp" type="image/x-icon">
    <title>Seleccionar butaca</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <section>
        <div class="terreno">TERRENO DE JUEGO</div>
        <div class="container-scroll">
          <div class="container">
            <% //Ordeno las filas  
              if (butacas) {
                let ordenacion = butacas.sort((a, b) => {
                  if (a.fila === "fila10") return 1;
                  if (b.fila === "fila10") return -1;
                  if (a.fila === b.fila) return a.num_butaca - b.num_butaca;
                  return a.fila.localeCompare(b.fila);
                });

                let filaActual = '';
                ordenacion.forEach((item) => {
                  //Si la fila es diferente a la fila actual cierro el contenedor y abro otro con su fila nueva
                  if (item.fila !== filaActual) { %>
                      </div> 
                    <% filaActual = item.fila; %>
                    <div class="fila">
                      <p><%= item.fila.toUpperCase() %></p>
                  <% } %>

                  <%
                  //Aqui compruebo si las butacas estan reservadas y la guardo en una variable para aplicarle su clase
                    let reserva = ""
                    if(ocupadas.includes(item._id.toString())){
                      reserva = "reservada"
                    } %>
                  <div
                    class="check <%= reserva %>" data-valueButaca="<%= item.fila + ',' + item.num_butaca + ',' + item.sector + "," + idEvento %>"
                  ><span><%= item.num_butaca %></span></div>
            <% }); %>
            </div> 
            <% } %>
          </div>
          </div>
      </section>
      
      <section class="lugar">
        <h1>ELIGE TUS ASIENTOS PARA <strong><%=nombreEvento%></strong></h1>
        <p>Si lo deseas, también puedes escoger varios asientos a la vez</p>
        
        <p>ZONA SELECCIONADA:</p>
        <h2><strong><%=nombreSector%> <%=zonaNombre%></strong></h2>
        <form action="/paypal/pay" method="POST" id="infoSeleccionadas">
    
      </form>
      </section>
    </main>
    <%- include('partials/footer') %>
    
    <script src="/javascripts/butacas.js"></script>
  </body>
</html>
