<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis entradas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/logoTFG.webp" type="image/x-icon">
</head>
<body>
    <%- include("partials/header")%>
    <main class="mainEntradasCompradas">
        <h1>Tus entradas para</h1>
        <hr>
        <section>
            <%
            arrayEntrada.forEach(item=>{%>
                <article>
                    <div class="izq" style="background-image: url('/images/imagenesEventos/<%=item.eventoImg%>');"></div>
                    <div class="medio" >
                        <h1><%=item.nombre_evento%></h1>
                        <p> <strong>ASIENTO:</strong> <%=item.butacaNum%> <%=item.butacaFila%> <%=item.numSector%></p>
                        <p><strong>ZONA:</strong><%=item.zonaSector%></p>
                        <p><strong>PRECIO:</strong> <%=item.precio%> €</p>
                        <p><strong>lugar:</strong><%=item.estadio%></p>
                        <% 
                            const meses = ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"]
                                let fecha = new Date(item.fecha)
                                let mes = fecha.getMonth()+1
                                let dia = fecha.getDate()
                                let año = fecha.getFullYear()
                                let hora = fecha.getHours()
                                let min = String(fecha.getMinutes()).padStart(2, "0");
                        %>
                        <p><strong>FECHA: </strong><%=` ${dia} ${meses[mes]} ${año} ${hora}:${min}`%></p>

                        <%if(item.eventoEstado == true){%>
                            <p><strong>ESTADO: </strong> ACTIVO</p>
                        <%}else{%>
                            <p><strong>ESTADO: </strong> CANCELADO</p> 
                        <%}%>
                    </div>
                    <div class="der">
                        <img src="<%=item.cod_qr%>" alt="imagen del codigo qr de la entrada" id="qr" class="qrMisEntradas">
                    </div>
                </article>
            <%})
            %>
            
        </section>
        
    </main>
    <%- include("partials/footer")%>
    <script src="/javascripts/qr.js"></script>
</body>
</html>