<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Sector</title>
</head>

<body>

    <%- include('partials/header') %>
        <main class="mainSector">
            <div class="cabeza">
                <h1><%=evento.titulo %> </h1>
            </div>
            
            <section>
                <svg viewBox="0 0 192.52048 117.35296" version="1.1" id="svg1"
                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
                    xmlns:svg="http://www.w3.org/2000/svg">
                    <defs id="defs1">
                        <rect x="-239.9438" y="45.206802" width="112.66926" height="52.857185" id="rect22" />
                        <rect x="170.15767" y="-173.10838" width="26.5564" height="20.654978" id="rect18" />
                        <color-profile name="Agfa-:-Swop-Standard"
                            xlink:href="../../../WINDOWS/system32/spool/drivers/color/RSWOP.icm" id="color-profile3" />
                        <color-profile name="sRGB-IEC61966-2.1"
                            xlink:href="../../../WINDOWS/system32/spool/drivers/color/sRGB%20Color%20Space%20Profile.icm"
                            id="color-profile4" />
                        <rect x="170.15767" y="-173.10838" width="26.5564" height="20.654978" id="rect18-1" />
                        <rect x="170.15767" y="-173.10838" width="26.5564" height="20.654978" id="rect18-1-4" />
                        <rect x="170.15767" y="-173.10838" width="26.5564" height="20.654978" id="rect18-1-4-1" />
                        <rect x="170.15767" y="-173.10838" width="26.5564" height="20.654978" id="rect18-1-4-1-7" />
                        <rect x="170.15767" y="-173.10838" width="26.5564" height="20.654978" id="rect18-1-4-1-7-5" />
                        <rect x="170.15767" y="-173.10838" width="26.5564" height="20.654978" id="rect18-1-4-1-7-2" />
                        <rect x="170.15767" y="-173.10838" width="26.5564" height="20.654978" id="rect18-1-4-1-7-2-1" />
                        <rect x="170.15767" y="-173.10838" width="26.5564" height="20.654978" id="rect18-8" />
                        <rect x="170.15767" y="-173.10838" width="26.5564" height="20.654978" id="rect18-8-6" />
                        <rect x="170.15767" y="-173.10838" width="26.5564" height="20.654978" id="rect18-8-6-8" />
                        <rect x="170.15767" y="-173.10838" width="26.5564" height="20.654978" id="rect18-8-6-8-8" />
                        <rect x="170.15767" y="-173.10838" width="26.5564" height="20.654978" id="rect18-8-6-8-8-3" />
                        <rect x="170.15767" y="-173.10838" width="26.5564" height="20.654978" id="rect18-8-6-8-8-3-6" />
                        <rect x="170.15767" y="-173.10838" width="26.5564" height="20.654978"
                            id="rect18-8-6-8-8-3-6-4" />
                        <rect x="170.15767" y="-173.10838" width="26.5564" height="20.654978"
                            id="rect18-8-6-8-8-3-6-4-3" />
                        <rect x="-239.9438" y="45.206802" width="112.66926" height="52.857185" id="rect22-8" />
                        <rect x="-239.9438" y="45.206802" width="112.66926" height="52.857185" id="rect22-8-5" />
                    </defs>
                    <g id="layer1" transform="translate(-51.000399,-25.830591)">
                        <rect
                            style="fill:#229221;fill-opacity:1;stroke:#bebebe;stroke-width:2.37895;stroke-dasharray:none;stroke-opacity:0.945245;paint-order:markers fill stroke"
                            id="rect9" width="115.79857" height="64.460281" x="89.210464" y="62.774147" />
                        <path style="fill:#808080;stroke:#000000;stroke-width:0.125915;stroke-opacity:1"
                            d="M 85.227504,142.94644 C 72.398488,141.53892 61.195649,132.51666 55.257839,118.81018 50.029499,106.74141 49.669637,92.2935 54.288227,79.881768 58.271687,69.176851 65.572348,60.727488 74.564083,56.415662 78.47098,54.542176 82.478959,53.48985 86.520548,53.276391 l 1.850827,-0.09775 v 27.825687 c 0,15.304136 -0.03035,35.540722 -0.06745,44.970222 l -0.06745,17.1445 -0.921339,-0.0223 c -0.50674,-0.0121 -1.446168,-0.0799 -2.087618,-0.1503 z"
                            id="path8" />
                        <path style="fill:#808080;stroke:#000000;stroke-width:0.126487;stroke-opacity:1"
                            d="m 208.73255,52.711689 c 13.68094,1.176328 25.73035,11.874422 31.03289,25.623261 7.06241,17.359927 3.86074,39.37834 -8.48972,52.84825 -6.48985,7.26867 -15.54257,11.69225 -24.80793,11.83529 -0.30117,-30.14751 -0.60335,-60.295149 -0.75603,-90.444109 1.00818,0.0038 2.01649,0.03629 3.02079,0.137308 z"
                            id="path9" />
                        <rect
                            style="fill:#808080;fill-opacity:1;stroke:#bebebe;stroke-width:0;stroke-dasharray:none;stroke-opacity:0.945245;paint-order:markers fill stroke"
                            id="rect10" width="117.23502" height="29.810408" x="88.355453" y="31.621937" />
                        <path
                            style="fill:#808080;fill-opacity:1;stroke:#808080;stroke-width:0.660995;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            d="M 88.453988,31.739792 C 84.139035,26.3346 84.207525,26.3346 84.207525,26.3346"
                            id="path10" />
                        <path
                            style="fill:#808080;fill-opacity:1;stroke:#808080;stroke-width:0.592364;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            d="m 205.25866,32.270041 c 5.46259,-7.989903 3.64628,-5.056847 3.64586,-5.056122"
                            id="path10-7" />
                        <rect
                            style="fill:#808080;fill-opacity:1;stroke:#808080;stroke-width:0.450727;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="rect11" width="129.80724" height="0.49856782" x="81.916718" y="26.055958" />
                        <path
                            style="fill:#808080;fill-opacity:1;stroke:#808080;stroke-width:0.337813;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            d="m 86.177262,29.006911 -1.896313,-2.772109 h 62.218121 c 34.21997,0 62.19036,0.07718 62.15642,0.171526 -0.0339,0.09434 -0.80646,1.342107 -1.7167,2.772819 l -1.65498,2.601294 -58.60512,-7.06e-4 -58.605116,-7.04e-4 z"
                            id="path11" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:0.75935;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector23" class="sectores naranja" width="9.2007437" height="7.4526029" x="98.76416"
                            y="46.199875" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:0.75935;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector24" class="sectores naranja" width="9.2007437" height="7.4526029" x="98.867599"
                            y="36.9305" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:0.75935;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector22" class="sectores blanco" width="9.2007437" height="7.4526029" x="110.62154"
                            y="36.942059" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:1.45519;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector20" class="sectores naranja" width="8.9403391" height="7.4526029" x="122.52216"
                            y="37.198254" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:1.45519;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector18" class="sectores blanco" width="8.9403391" height="7.4526029" x="134.56714"
                            y="36.964096" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:0.75935;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector16" class="sectores blanco" width="9.2007437" height="7.4526029" x="146.76541"
                            y="37.010532" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:0.75935;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector14" class="sectores naranja " width="9.2007437" height="7.4526029" x="158.55299"
                            y="36.940262" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:0.75935;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector12" class="sectores blanco" width="9.2007437" height="7.4526029" x="171.28944"
                            y="37.010818" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:0.75935;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector10" class="sectores naranja" width="9.2007437" height="7.4526029" x="183.68272"
                            y="37.010818" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:0.75935;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector9" class="sectores naranja" width="9.2007437" height="7.4526029" x="183.6313"
                            y="46.276649" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:0.75935;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector11" class="sectores blanco" width="9.2007437" height="7.4526029" x="171.18037"
                            y="46.430141" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:0.75935;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector13" class="sectores naranja" width="9.2007437" height="7.4526029" x="158.58504"
                            y="46.336952" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:0.75935;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector15" class="sectores blanco" width="9.2007437" height="7.4526029" x="146.37088"
                            y="46.287037" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:0.75935;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector17" class="sectores blanco" width="9.2007437" height="7.4526029" x="134.50584"
                            y="46.282684" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:0.75935;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector19" class="sectores naranja" width="9.2007437" height="7.4526029" x="122.62439"
                            y="46.312973" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:0.75935;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector21" class="sectores blanco" width="9.2007437" height="7.4526029" x="110.56561"
                            y="46.246006" />
                        <rect
                            style="fill:#808080;fill-opacity:1;stroke:none;stroke-width:0.601757;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="rect12" width="118.11594" height="14.808575" x="88.355423" y="128.31522" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:0.449792;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector1" class="sectores blanco" width="23.551401" height="8.8480425" x="95.49157"
                            y="131.01279" ry="0" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:0.449792;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector2" class="sectores naranja" width="23.551401" height="8.8480425" x="122.75701"
                            y="131.1299" ry="0" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:0.449792;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector3" class="sectores blanco" width="23.551401" height="8.8480425" x="151.10478"
                            y="131.14294" ry="0" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:0.449792;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector4" class="sectores naranja" width="23.551401" height="8.8480425" x="179.03555"
                            y="130.8288" ry="0" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:0.902011;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector6" class="sectores naranja " width="7.2215581" height="15.158766" x="209.11691"
                            y="95.776863" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:0.902011;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector7" class="sectores blanco" width="7.2215581" height="15.158766" x="208.99144"
                            y="78.34597" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:0.902011;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector8" class="sectores naranja" width="7.2215581" height="15.158766" x="208.83524"
                            y="61.477547" />
                        <rect
                            style="fill-opacity:1;stroke:none;stroke-width:0.902011;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            id="sector5" class="sectores blanco" width="7.2215581" height="15.158766" x="209.35135"
                            y="112.72324" />
                        <path
                            style="fill:#bebebe;fill-opacity:1;stroke:none;stroke-width:0.449792;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            d="m 67.224126,107.04525 -0.196759,-24.201183 7.49795,-6.046597 4.944317,-0.0402 0.311005,38.25348 -6.243348,0.311 z"
                            id="path18" />
                        <text xml:space="preserve" transform="matrix(0.26458334,0,0,0.26458334,56.465368,79.40978)"
                            id="text18"
                            style="text-align:start;writing-mode:lr-tb;direction:ltr;white-space:pre;shape-inside:url(#rect18);fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke">
                            <tspan x="170.1582" y="-162.15946" id="tspan4">24</tspan>
                        </text>
                        <text xml:space="preserve" transform="matrix(0.26458334,0,0,0.26458334,56.547023,99.400157)"
                            id="text18-1"
                            style="text-align:start;writing-mode:lr-tb;direction:ltr;white-space:pre;shape-inside:url(#rect18-8);fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke">
                            <tspan x="170.1582" y="-162.15946" id="tspan5">23</tspan>
                        </text>
                        <text xml:space="preserve" transform="matrix(0.26458334,0,0,0.26458334,68.379085,99.340176)"
                            id="text18-1-6"
                            style="text-align:start;writing-mode:lr-tb;direction:ltr;white-space:pre;shape-inside:url(#rect18-8-6);fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke">
                            <tspan x="170.1582" y="-162.15946" id="tspan6">21</tspan>
                        </text>
                        <text xml:space="preserve" transform="matrix(0.26458334,0,0,0.26458334,80.424144,99.331482)"
                            id="text18-1-6-4"
                            style="text-align:start;writing-mode:lr-tb;direction:ltr;white-space:pre;shape-inside:url(#rect18-8-6-8);fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke">
                            <tspan x="170.1582" y="-162.15946" id="tspan7">19</tspan>
                        </text>
                        <text xml:space="preserve" transform="matrix(0.26458334,0,0,0.26458334,92.240592,99.43426)"
                            id="text18-1-6-4-7"
                            style="text-align:start;writing-mode:lr-tb;direction:ltr;white-space:pre;shape-inside:url(#rect18-8-6-8-8);fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke">
                            <tspan x="170.1582" y="-162.15946" id="tspan8">17
                            </tspan>
                        </text>
                        <text xml:space="preserve" transform="matrix(0.26458334,0,0,0.26458334,103.80313,99.32566)"
                            id="text18-1-6-4-7-0"
                            style="text-align:start;writing-mode:lr-tb;direction:ltr;white-space:pre;shape-inside:url(#rect18-8-6-8-8-3);fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke">
                            <tspan x="170.1582" y="-162.15946" id="tspan9">15
                            </tspan>
                            <tspan x="170.1582" y="-147.15946" id="tspan10">
                            </tspan>
                        </text>
                        <text xml:space="preserve" transform="matrix(0.26458334,0,0,0.26458334,116.01353,99.421292)"
                            id="text18-1-6-4-7-0-0"
                            style="text-align:start;writing-mode:lr-tb;direction:ltr;white-space:pre;shape-inside:url(#rect18-8-6-8-8-3-6);fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke">
                            <tspan x="170.1582" y="-162.15946" id="tspan11">13
                            </tspan>
                            <tspan x="170.1582" y="-147.15946" id="tspan12">
                            </tspan>
                        </text>
                        <text xml:space="preserve" transform="matrix(0.26458334,0,0,0.26458334,128.84799,99.387847)"
                            id="text18-1-6-4-7-0-0-9"
                            style="text-align:start;writing-mode:lr-tb;direction:ltr;white-space:pre;shape-inside:url(#rect18-8-6-8-8-3-6-4);fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke">
                            <tspan x="170.1582" y="-162.15946" id="tspan13">11
                            </tspan>
                            <tspan x="170.1582" y="-147.15946" id="tspan14">
                            </tspan>
                        </text>
                        <text xml:space="preserve" transform="matrix(0.26458334,0,0,0.26458334,141.42223,99.161058)"
                            id="text18-1-6-4-7-0-0-9-4"
                            style="text-align:start;writing-mode:lr-tb;direction:ltr;white-space:pre;shape-inside:url(#rect18-8-6-8-8-3-6-4-3);fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke">
                            <tspan x="170.1582" y="-162.15946" id="tspan15">9
                            </tspan>
                            <tspan x="170.1582" y="-147.15946" id="tspan16">
                            </tspan>
                        </text>
                        <text xml:space="preserve" transform="matrix(0.26458334,0,0,0.26458334,67.981349,79.366307)"
                            id="text18-5"
                            style="text-align:start;writing-mode:lr-tb;direction:ltr;white-space:pre;shape-inside:url(#rect18-1);fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke">
                            <tspan x="170.1582" y="-162.15946" id="tspan17">22</tspan>
                        </text>
                        <text xml:space="preserve" transform="matrix(0.26458334,0,0,0.26458334,79.838614,79.643932)"
                            id="text18-5-2"
                            style="text-align:start;writing-mode:lr-tb;direction:ltr;white-space:pre;shape-inside:url(#rect18-1-4);fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke">
                            <tspan x="170.1582" y="-162.15946" id="tspan18">20</tspan>
                        </text>
                        <text xml:space="preserve" transform="matrix(0.26458334,0,0,0.26458334,92.044224,79.162583)"
                            id="text18-5-2-6"
                            style="text-align:start;writing-mode:lr-tb;direction:ltr;white-space:pre;shape-inside:url(#rect18-1-4-1);fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke">
                            <tspan x="170.1582" y="-162.15946" id="tspan23">18</tspan>
                        </text>
                        <text xml:space="preserve" transform="matrix(0.26458334,0,0,0.26458334,103.74736,79.401388)"
                            id="text18-5-2-6-7"
                            style="text-align:start;writing-mode:lr-tb;direction:ltr;white-space:pre;shape-inside:url(#rect18-1-4-1-7);fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke">
                            <tspan x="170.1582" y="-162.15946" id="tspan24">16</tspan>
                        </text>
                        <text xml:space="preserve" transform="matrix(0.26458334,0,0,0.26458334,115.97035,79.452944)"
                            id="text18-5-2-6-7-9"
                            style="text-align:start;writing-mode:lr-tb;direction:ltr;white-space:pre;shape-inside:url(#rect18-1-4-1-7-5);fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke">
                            <tspan x="170.1582" y="-162.15946" id="tspan25">14</tspan>
                        </text>
                        <g id="g1" transform="translate(23.977681,0.47639411)">
                            <text xml:space="preserve" transform="matrix(0.26458334,0,0,0.26458334,104.78831,78.880915)"
                                id="text18-5-2-6-7-6"
                                style="text-align:start;writing-mode:lr-tb;direction:ltr;white-space:pre;shape-inside:url(#rect18-1-4-1-7-2);display:inline;fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke">
                                <tspan x="170.1582" y="-162.15946" id="tspan26">12</tspan>
                            </text>
                            <text xml:space="preserve" transform="matrix(0.26458334,0,0,0.26458334,117.56161,78.686188)"
                                id="text18-5-2-6-7-6-0"
                                style="text-align:start;writing-mode:lr-tb;direction:ltr;white-space:pre;shape-inside:url(#rect18-1-4-1-7-2-1);display:inline;fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke">
                                <tspan x="170.1582" y="-162.15946" id="tspan27">10
                                </tspan>
                            </text>
                        </g>
                        <text xml:space="preserve"
                            style="font-size:3.14622px;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:0.445714;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            x="76.488289" y="-223.58449" id="text19"
                            transform="matrix(0.03304363,1.0411564,-0.95884674,0.05116258,0,0)">
                            <tspan id="tspan19" style="stroke-width:0.445714" x="76.488289" y="-223.58449">8</tspan>
                        </text>
                        <text xml:space="preserve"
                            style="font-size:3.14622px;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:0.445714;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            x="78.656448" y="-229.11937" id="text19-8"
                            transform="matrix(-0.03699784,1.0410234,-0.96011738,-0.01338856,0,0)">
                            <tspan id="tspan19-1" style="stroke-width:0.445714" x="78.656448" y="-229.11937">7</tspan>
                        </text>
                        <text xml:space="preserve"
                            style="font-size:3.14622px;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:0.445714;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            x="95.007301" y="-230.11748" id="text19-8-2"
                            transform="matrix(-0.03699784,1.0410234,-0.96011738,-0.01338856,0,0)">
                            <tspan id="tspan19-1-2" style="stroke-width:0.445714" x="95.007301" y="-230.11748">6</tspan>
                            <tspan style="stroke-width:0.445714" x="95.007301" y="-226.18471" id="tspan20" />
                        </text>
                        <text xml:space="preserve"
                            style="font-size:3.14622px;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:0.445714;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            x="111.42305" y="-230.79877" id="text19-8-2-0"
                            transform="matrix(-0.03699784,1.0410234,-0.96011738,-0.01338856,0,0)">
                            <tspan id="tspan19-1-2-7" style="stroke-width:0.445714" x="111.42305" y="-230.79877">5
                            </tspan>
                            <tspan style="stroke-width:0.445714" x="111.42305" y="-226.866" id="tspan20-8" />
                        </text>
                        <text xml:space="preserve"
                            style="font-size:3.175px;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:0.449792;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            x="189.13107" y="142.2818" id="text21">
                            <tspan id="tspan21" style="stroke-width:0.449792" x="189.13107" y="142.2818">4</tspan>
                        </text>
                        <text xml:space="preserve"
                            style="font-size:3.175px;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:0.449792;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            x="161.83195" y="142.57466" id="text21-1">
                            <tspan id="tspan21-2" style="stroke-width:0.449792" x="161.83195" y="142.57466">3</tspan>
                        </text>
                        <text xml:space="preserve"
                            style="font-size:3.175px;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:0.449792;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            x="133.35576" y="142.5692" id="text21-1-6">
                            <tspan id="tspan21-2-2" style="stroke-width:0.449792" x="133.35576" y="142.5692">2</tspan>
                        </text>
                        <text xml:space="preserve"
                            style="font-size:3.175px;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:0.449792;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                            x="106.0761" y="142.49545" id="text21-1-6-2">
                            <tspan id="tspan21-2-2-4" style="stroke-width:0.449792" x="106.0761" y="142.49545">1</tspan>
                        </text>
                        <text xml:space="preserve" transform="matrix(0.26458333,0,0,0.26458333,198.33181,52.482536)"
                            id="text22"
                            style="text-align:start;writing-mode:lr-tb;direction:ltr;white-space:pre;shape-inside:url(#rect22);fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke">
                            <tspan x="-320.94336" y="62.237228" id="tspan29">
                                <tspan
                                    style="font-weight:bold;font-size:18.6667px;font-family:Sans;-inkscape-font-specification:'Sans, Bold'"
                                    id="tspan28">TRIBUNA</tspan>
                            </tspan>
                        </text>
                        <text xml:space="preserve" transform="matrix(0.26458333,0,0,0.26458333,202.96852,107.59147)"
                            id="text22-1"
                            style="text-align:start;writing-mode:lr-tb;direction:ltr;white-space:pre;shape-inside:url(#rect22-8);fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke">
                            <tspan x="-320.94336" y="62.021144" id="tspan31">
                                <tspan
                                    style="font-weight:bold;font-size:18.6667px;font-family:Arial;-inkscape-font-specification:'Arial, Bold'"
                                    id="tspan30">GRADA</tspan>
                            </tspan>
                        </text>
                        <text xml:space="preserve"
                            transform="matrix(-0.0037673,0.26455651,-0.26455651,-0.0037673,212.10282,148.76426)"
                            id="text22-1-0"
                            style="text-align:start;writing-mode:lr-tb;direction:ltr;white-space:pre;shape-inside:url(#rect22-8-5);fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke">
                            <tspan x="-320.94336" y="62.021144" id="tspan33">
                                <tspan
                                    style="font-weight:bold;font-size:18.6667px;font-family:Arial;-inkscape-font-specification:'Arial, Bold'"
                                    id="tspan32">FONDO</tspan>
                            </tspan>
                        </text>
                    </g>
                </svg>
            </section>
            <section>
                <div>
                    <% 
                    const meses = ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"]
                        let fecha = new Date(evento.fecha)
                        let mes = fecha.getMonth()+1
                        let dia = fecha.getDate()
                        let año = fecha.getFullYear()
                        let hora = fecha.getHours()
                        let min = String(fecha.getMinutes()).padStart(2, "0");
                    %>
                    <h1>Detalles del evento</h1>
                    <p>Fecha: <strong><%=`${dia} ${meses[mes]} ${año}`%></strong></p>
                    <p>Hora: <strong><%=`${hora}:${min}`%></strong></p>
                    <p>Estadio: <strong><%=estadios.nombre%></strong></p>
                </div>
                <div>
                    <h2>Precio:</h2>
                    <div>
                        <p><strong>Grada</strong></p>
                        <p>Desde: <%=evento.precio * arrayMultiplicador[0]%> €</p>
                    </div>
                    <div>
                        <p><strong>Fondo</strong></p>
                        <p>Desde: <%=evento.precio * arrayMultiplicador[2]%> €</p>
                    </div>
                    <div>
                        <p><strong>Tribuna</strong></p>
                        <p>Desde: <%=evento.precio * arrayMultiplicador[1]%> € </p>
                    </div>
                    <button><a href="/">VOLVER A INICIO</a></button>
                </div>
            </section>
        </main>

        <%- include('partials/footer') %>

            <script>
                let path = document.querySelectorAll('.sectores')
                const evento = "<%= idEvento %>";
                console.log(evento)
                console.log(path)
                path.forEach(item => {
                    item.style.cursor = "pointer"
                    item.addEventListener("click", (e) => {
                        alert(e.target.id)
                        window.location.href = `/butaca/seleccion/${e.target.id}/${evento}`
                    })
                })
            </script>
</body>

</html>